<html>
 
  <%
        def link_to(name, url)
            return "<a href='#{url}'>#{name}</a>"
         end
  %>
  
  
  <body>
    <h1>Attention c'est du serieux</h1>
    <p>
      <h3> c'est le site de la mort</h3>
      <p>on voit ça partout</p>
      <a href='me.html'>ça c'est moi !!!</a>
      <p> </p>
       <%= link_to('This is a link to google', 'http://google.com') %>
       <p> </p>
       <%= link_to('un lien vers eurosport', 'http://eurosport.com') %>
       <p> </p>
       <%= link_to('un petit lien vers facebook', 'http://facebook.com') %>
       <p> </p>

    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> Moi c'est le pied</h3>
      <p>tu peux mettre ce que tu veux <%= @name %></p>
    </div>
  </body>
</html>